body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #0d6efd;
}
body header ul {
  list-style: none;
}
body header .header-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  gap: 20px;
}
body header .header-btn-container .slash {
  color: #ffffff;
  font-size: 24px;
  border: 0;
}
body header .header-btn-container .sign-in_btn, body header .header-btn-container .sign-up_btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  gap: 7px;
}
body header .header-btn-container .bi {
  margin-top: -5px;
}
body header .header-btn-container .sign-in_btn:hover, body header .header-btn-container .sign-up_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
body .start-game_section {
  margin-top: 150px;
}
body .start-game_section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .start-game_section .wrapper h1 {
  margin-bottom: 75px;
}
body .start-game_section .wrapper .game-field {
  border: 1px solid black;
  background-color: transparent;
  height: 50vh;
  width: 75%;
}
body .start-game_section .wrapper .game-field .choise-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}
body .start-game_section .wrapper .game-field .choise-list .player-choise, body .start-game_section .wrapper .game-field .choise-list .computer-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .start-game_section .wrapper .game-field .choise-list .info-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
body .start-game_section .wrapper .game-field .choise-list .info-between .renewing-text {
  font-size: 24px;
  color: black;
  max-width: 250px;
}
body .start-game_section .wrapper .game-field .choise-list .stars-list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}